# ðŸš¨ Anomaly Detection in Monthly Financial Data
This notebook identifies anomalies in monthly financial KPIs like sudden sales drops or unusually low profits.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# PostgreSQL connection setup (update password)
engine = create_engine("postgresql+pg8000://postgres:Aravind%40123@localhost:5432/financial_project")

# Load monthly profit and sales data
query = '''
SELECT TO_DATE(CONCAT(Year, '-', Month_Number, '-01'), 'YYYY-MM-DD') AS date,
       SUM(Sales) AS monthly_sales,
       SUM(Profit) AS monthly_profit
FROM financials
GROUP BY Year, Month_Number
ORDER BY date;
'''
df = pd.read_sql(query, engine)
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
df

            monthly_sales  monthly_profit
date
2013-09-01     4484000.03       812564.28
2013-10-01     9295611.10      1659555.10
2013-11-01     7267203.30       840631.05
2013-12-01     5368441.08       788051.58
2014-01-01     6607761.69       874544.94
2014-02-01     7297531.39      1178511.14
2014-03-01     5586859.87       682158.12
2014-04-01     6964775.08       955825.83
2014-05-01     6210211.06       885455.06
2014-06-01     9518893.82      1509371.32
2014-07-01     8102920.19       941573.19
2014-08-01     5864622.42       852955.17
2014-09-01     6398697.24      1068775.99
2014-10-01    12375819.92      1899813.42
2014-11-01     5384214.20       660508.95
2014-12-01    11998787.90      2060728.40

## ðŸ”» Detect Sales Drop Anomalies (>40% drop from previous month)

In [2]:
df['prev_sales'] = df['monthly_sales'].shift(1)
df['sales_drop_%'] = (df['prev_sales'] - df['monthly_sales']) / df['prev_sales'] * 100
sales_anomalies = df[df['sales_drop_%'] > 40]
sales_anomalies[['monthly_sales', 'prev_sales', 'sales_drop_%']]

            monthly_sales   prev_sales  sales_drop_%
date
2014-11-01      5384214.2  12375819.92     56.494081

## ðŸ§® Detect Low Profit Anomalies (below 10th percentile)

In [3]:
threshold = df['monthly_profit'].quantile(0.10)
profit_anomalies = df[df['monthly_profit'] < threshold]
profit_anomalies[['monthly_profit']]

            monthly_profit
date
2014-03-01       682158.12
2014-11-01       660508.95